@model CheeseMVC.ViewModels.ViewMenuViewModel

@{
    ViewBag.Title = "MENU NAME";
}

<title>@Model.Menu.ID</title>

<h1>@Model.Menu.Name</h1>

<ul>
    @foreach (var CheeseMenu in Model.Items)
    {
        <li>
            @CheeseMenu.Cheese.Name
        </li>

    }
</ul>
<a asp-controller="Menu" asp-action="AddItem" asp-route-id="@Model.Menu.ID">Add Item</a>

